html {
  box-sizing: border-box;
}
body {
  margin-top: 37px;
  background-color: #000000;
  text-align: center;
  background-image: url("../img/bg.gif");
  width: 100%;
}
.wrapper {

  padding: 1px; /*forms centre of site border */
}
.wrapper,
footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 620px;
}
.wrapper,
header,
.content-box {
  border: 1px solid #818285;
}
header,
.content-box,
footer {
  padding: 10px 24px;
}
h1 {
  color: #00DBFF;
  font-size: 2.2em;
}
h2 {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
}
p {
  font-family: 'Times New Roman', serif;
  font-size: 1.2em;
  color: #ffffff;
}
a {
  color: #00DBFF;
}
.greet {
  color: #FF0004;
  font-style: italic;
}
.shows {
  background-color: #282829;
}


.social {
  margin: 0 auto;
}
.social img {
  width: 50px;
  margin: 0 20px;
}
.social img:hover {
  opacity: 0.5;
}

/* for phones: */
@media only screen
  and (max-width: 599px) {
    .social img {
      width: 100px;
      margin: 0 10px;
    }
  }
