html {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/bg.gif");
  width: 100%;
}
#wrap {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 640px;
  padding: 1px;
  border: 1px solid #4d4a4b;
}
header {
  border: 1px solid #4d4a4b;
}
h1,
a {
  color: #00DBFF;
}
.social {
  margin: 0 auto;
}
.social img {
  width: 50px;
  margin: 0 20px;
}
.social img:hover {
  opacity: 0.5;
}

/* for phones: */
@media only screen
  and (max-width: 599px) {
    .social img {
      width: 100px;
      margin: 0 10px;
    }
  }
